@page
@model abakes2.Pages.Admin_ManageSimpleOrders2Model
@{
}

@{
    Layout = null;
}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="~/css/AdminDashboard/styles.css" rel="stylesheet" asp-append-version="true">
    <script src="https://kit.fontawesome.com/e91d01519e.js" crossorigin="anonymous"></script>

    <title>Manage Orders</title>
</head>

<body>
    <!--NAV BAR-->
    <!-- Banner -->
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <a href="/AdminDashboard"><img src="~/img/logo/logofooter.png" alt="logo" width="75px"></a>
            </div>

            <div class="user">
                <img src="~/img/AdminDashboard/user.png" alt="">
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/Admin_ManageCakes">
                        <i class="fas fa-birthday-cake"></i>
                        <div>Manage Cake</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageIngredients">
                        <i class="fas fa-utensils"></i>
                        <div>Manage Ingredients</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_Manage3DAsset">
                        <i class="fa-brands fa-unity"></i>
                        <div>Manage 3D Asset</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageOrders" class="active">
                        <i class="fas fa-receipt"></i>
                        <div>Manage Orders</div>
                    </a>
                </li>
                <li>
                    <a href="/ManagePayments">
                        <i class="fas fa-money-check"></i>
                        <div>Manage Payments</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageFeedback">
                        <i class="fas fa-comments"></i>
                        <div>Manage Feedback</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_Notif">
                        <i class="fas fa-bell"></i>
                        <div>Manage Notification</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageQR">
                        <i class="fas fa-qrcode"></i>
                        <div>Manage QR Code</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageAcc">
                        <i class="fas fa-user"></i>
                        <div>Account Manager</div>
                    </a>
                </li>
                <li>
                    <a href="/AdminDashboard">
                        <i class="fas fa-chart-bar"></i>
                        <div>Statistical Report</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ChangePassword">
                        <i class="fas fa-lock"></i>
                        <div>Change Password</div>
                    </a>
                </li>
                <li>
                    <a asp-page="/index" asp-page-handler="LogOut">
                        <i class="fas fa-sign-out-alt"></i>
                        <div>Log out</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Banner End -->
        <!--Main Window-->
        <div class="main">
            <!--Title Bar-->
            <section class="page-heading" style="background-image: url('/img/contact/cover2.png');">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-content">
                                <h2>Manage Orders</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Title Bar End-->

            <div class="admin-table">

                <a href="/Admin_ManageOrders" class="btn" style="margin:1%;">View Pending Orders</a>

               

              


                <form method="get">
                    <div class="search">
                        <button type="submit" for="search"><i class="fas fa-search"></i></button>
                        <input type="text" name="search" placeholder="Search for Order">

                    </div>
                </form>
                <table class="table" style="margin:1%; font-family:Poppins;">



                    <thead>

                        <tr>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:3%;">Order Number</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:10%;">Name</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:3%;">Occasion</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:3%;">Color</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:3%;">Shapes</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:10%;">Tier</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:10%;">Flavor</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:10%;">Sizes</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Instruction</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Delivery</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Product Price</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Downpayment</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Shipping Price</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Preferred Date</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Expected Date</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Expected Time</th>
                            <th style="color:rgb(159, 167, 189); font-family:Poppins;width:25%;">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.orderSimpleInfo)
                        {
                            <tr>
                                <td><p>@item.osID</p></td>
                                <td><p>@item.osUsername</p></td>
                                <td><p>@item.osOccasion</p></td>
                                <td><p>@item.osColor</p></td>
                                <td><p>@item.osShapes</p></td>
                                <td><p>@item.osTier</p></td>
                                <td><p>@item.osFlavors</p></td>
                                <td><p>@item.osSizes</p></td>
                                <td><p>@item.osInstruction</p></td>
                                <td><p>@item.osDelivery</p></td>
                                <td><p>@item.osPrice</p></td>
                                <td><p>@item.osDP</p></td>
                                <td><p>@item.osShip</p></td>
                                <td><p>@item.osPreferredD</p></td>
                                <td><p>@item.osExpectedD</p></td>
                                <td><p>@item.osExpectedT</p></td>

                                <td>
                                    <a href='/Admin_ManageSimpleOrders2?user=@item.osUsername&handler=Reject' class="btn btn-primary btn-sm" style="background: #9a0009;">
                                        <i class="fas fa-times" style="font-size:30px;"></i><div>Remove</div>
                                    </a>
                                    <a href='/ViewSimpleOrder?id=@item.osID' class="btn" style="background:#F1DEB9; color:black;">
                                        <i class="fas fa-pencil" style="font-size:30px;"></i><div>Price</div>
                                    </a>


                                </td>
                            </tr>



                        }
                    </tbody>
                </table>
            </div>


            <!--Main Window End-->
            <!-- javascript -->

            <script>
                var MenuItems = document.getElementById("MenuItems");
                MenuItems.style.maxHeight = "0px";
                function menutoggle() {
                    if (MenuItems.style.maxHeight == "0px") {
                        MenuItems.style.maxHeight = "300px"
                    }
                    else {
                        MenuItems.style.maxHeight = "0px"
                    }
                }
            </script>

            <!-- Toggle Form -->
            <script>
                var LoginForm = document.getElementById("LoginForm");
                var RegForm = document.getElementById("RegForm");
                var Indicator = document.getElementById("Indicator");
                function register() {
                    RegForm.style.transform = "translatex(0px)";
                    LoginForm.style.transform = "translatex(0px)";
                    Indicator.style.transform = "translateX(100px)";

                }
                function login() {
                    RegForm.style.transform = "translatex(300px)";
                    LoginForm.style.transform = "translatex(300px)";
                    Indicator.style.transform = "translate(0px)";

                }
            </script>

</body>