@page
@model abakes2.Pages.Admin_ViewPaymentModel

@{
    Layout = null;
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crinvoicesorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <link href="~/css/AdminDashboard/styles.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/AdminDashboard/dropdown.css" rel="stylesheet" asp-append-version="true">
    <script src='https://kit.fontawesome.com/a076d05399.js' crinvoicesorigin='anonymous'></script>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <script src="https://kit.fontawesome.com/e91d01519e.js" crossorigin="anonymous"></script>

    <link href="vendor/bootstrap/css/homepage/bootstrap.min.css" rel="stylesheet">

    <title>View Payment</title>
</head>

<style>
    .container {
        display: flex;
        justify-content: space-between;
     
    }

    .adminbox {
        height: 900px;
        width: 45%;
        padding: 45px;
        border-radius: 5%;
        box-sizing: border-box;
    }

        .adminbox h2 {
            text-align: center;
        }

    .receiptimg{
        
        margin-top: 10px;
       
    }
    .receiptimg h3 {
        text-align: center;
    }
    .receiptimg img {
        display: block;
          margin-left: auto;
          margin-right: auto;
          width: 70%;
         
    }
</style>

<body>
    <!--NAV BAR-->
    <!-- Banner -->
    <div class="container">
        <div class="topbar">
            <div class="logo">
                <a href="/AdminDashboard"><img src="~/img/logo/logofooter.png" alt="logo" width="75px"></a>
            </div>

            <div class="user">
                <img src="~/img/AdminDashboard/user.png" alt="">
            </div>
        </div>
        <div class="sidebar">
            <ul>
                <li>
                    <a href="/Admin_ManageCakes">
                        <i class="fas fa-birthday-cake"></i>
                        <div>Manage Cake</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageIngredients">
                        <i class="fas fa-utensils"></i>
                        <div>Manage Ingredients</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_Manage3DAsset">
                        <i class="fa-brands fa-unity"></i>
                        <div>Manage 3D Asset</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageOrders">
                        <i class="fas fa-receipt"></i>
                        <div>Manage Orders</div>
                    </a>
                </li>

                <li>
                    <a href="/ManagePayments" class="active">
                        <i class="fas fa-money-check"></i>
                        <div>Manage Payments</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageFeedback">
                        <i class="fas fa-comments"></i>
                        <div>Manage Feedback</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_Notif">
                        <i class="fas fa-bell"></i>
                        <div>Manage Notification</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageQR">
                        <i class="fas fa-qrcode"></i>
                        <div>Manage QR Code</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ManageAcc" >
                        <i class="fas fa-user"></i>
                        <div>Account Manager</div>
                    </a>
                </li>
                <li>
                    <a href="/AdminDashboard">
                        <i class="fas fa-chart-bar"></i>
                        <div>Statistical Report</div>
                    </a>
                </li>
                <li>
                    <a href="/Admin_ChangePassword">
                        <i class="fas fa-lock"></i>
                        <div>Change Password</div>
                    </a>
                </li>
                <li>
                    <a asp-page="/index" asp-page-handler="LogOut">
                        <i class="fas fa-sign-out-alt"></i>
                        <div>Log out</div>
                    </a>
                </li>
            </ul>
        </div>
        <!-- Banner End -->
        <!--Main Window-->
        <div class="main">
            <!--Title Bar-->
            <section class="page-heading" style="background-image: url('/img/contact/cover2.png'); margin-bottom: 70px; ">
                <div class="container" style="display: inline;">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="text-content">
                                <h2>View Payment</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!--Title Bar End-->


            <!-- First Account Page -->
            <div class="container" >
                <div class="adminbox">
                    <form id="NotifPreview" method="post">
                        <h2>Cake Details</h2>

                        <input type="hidden" name="id" value="@Model.invoiceInfo.invoiceID" />
                        <div class="p-5 p-lg-5 border">
                            <div class="form-group row">
                               
                            </div>

                            <div class="p-5 p-lg-5 border">     
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_hadd" class="text-black"><b>Occasion:</b>  </label>
                                        <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceOccasion</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Shapes:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceShapes</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Color:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceColor</label>
                                        </div>
                                    </div>
                                    <div clas
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Tier:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceTier</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Flavors:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceFlavors</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Sizes:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceSizes</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Instruction:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceInstruction</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Dedication:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceDedication</label>
                                        </div>
                                    </div> 
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Delivery:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceDelivery</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Expected Delivery:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceExpectedD @Model.invoiceInfo.invoiceExpectedT</label>
                                        </div>
                                    </div>
                                    <h2>Invoice Details</h2>
                                     <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Date Created:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceDateCreated</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Product Price:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoicePrice</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Downpayment:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceDP</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Shipping:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceShip</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Order Status:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.orderStatus</label>
                                        </div>
                                    </div>
                                     <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Payment Method:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.paymentMethod</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="dropdown">
                        <label for="status"><h3>Order Status:</h3></label>
                        <select name="orderstatus" id="status" required >
                            <option value="50% Downpayment">50% Downpayment</option>
                            <option value="Baking">Baking</option>
                            <option value="Order Confirmation">Order Confirmation</option>
                            <option value="Full Payment">Full Payment</option>
                            <option value="Delivery/Pickup">Delivery/Pickup</option>
                            <option value="Order Arrived">Order Arrived</option>
                            <option value="Complete Order">Complete Order</option>
                        </select>
                         </div>
                        



                          <div class="buton3d">
                        <button type="submit" class="btn" style="margin:1%;">Submit</button>
                        </div>
                    </form>
                </div>

                <!-- Second Account Page -->
                <div class="adminbox">
                    
                        <h2>Customer Details</h2>
                        <input type="hidden" name="id" value="@Model.invoiceInfo.invoiceID" />
                        <div class="p-5 p-lg-5 border">
                          

                            <div class="p-5 p-lg-5 border">
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_hadd" class="text-black"><b>Username:</b> </label>
                                        <label for="c_hadd" class="text-black">@Model.customerInfo.username</label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-12">
                                        <label for="c_hadd" class="text-black"><b>First Name</b>  </label>
                                        <label for="c_hadd" class="text-black">@Model.customerInfo.fname</label>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Last Name:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.customerInfo.lname</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>City:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.customerInfo.city</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Address</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.customerInfo.address</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Barangay:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.customerInfo.barangay</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Email Address:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.customerInfo.email</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Phone:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.customerInfo.phone</label>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                            
                        <div class="receiptimg">
                            <table>
                                <tr>
                                    <th> <h3>First Payment</h3> </th>
                                    <th> <h3>Last Payment</h3> </th>
                                </tr> 
                                <tr>
                                    <td><img src="@Model.invoiceInfo.receipt" ></td> 
                                    <td><img src="@Model.invoiceInfo.picture" ></td> 
                                </tr>
                            </table> 
                            
                            
                        </div>
                        
                </div>
            </div>
                  </div>


</body>