@page
@model abakes2.Pages.Customer_OrderStatusModel
@{
}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap" rel="stylesheet">
    <title>Order Status</title>



    <link href="vendor/bootstrap/css/homepage/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/ContactUs/damarota-blog.css " asp-append-version="true">
    <link href="~/css/footer/layout.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/Account/PageHeading.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/badge/badge.css" rel="stylesheet" asp-append-version="true">
    <link href="~/css/Account/PageHeading.css" rel="stylesheet" asp-append-version="true">

    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true">


    <link href="~/css/OrderStatus/OrderStatus.css" rel="stylesheet" asp-append-version="true">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">




</head>


<style>

        .container-box {
    background-color: #C68E6F;
    border: 1px solid BLACK;
    padding: 0px; /* Adjust padding as needed */
    border-radius: 10px;
    margin-top: 0px;
    margin-bottom: 50px;
    max-width:500px;
    }

            @@media (max-width: 768px) {
            .nav-item {
              margin-left:px;
            }
            }
            

</style>

<body>

    <!-- NAV BAR -->
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <a href="/Index"><img src="~/img/logo/Logo.png" alt="logo" width="65px"></a>
            </div>
            <nav>
                <ul id="MenuItems">
                    <li><a href="/Index">Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Order</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Customer_Order3DForm" class="dropdown-item">Customize 3D</a></li>
                            @if (Model.statusconfirm != null && Model.statusconfirm.Equals("true"))
                            {
                                <li><a href="/Customer_OrderForm" class="dropdown-item">Order Form</a></li>
                            }
                            else
                            {
                                <li><a href="/Customer_FullCapacity_Prompt" class="dropdown-item">Order Form</a></li>
                            }
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">Feedback</a>
                        <ul class="dropdown-menu">
                            <li><a href="/Customer_AddFeedback" class="dropdown-item">Add Feedback</a></li>
                            <li><a href="/Customer_Feedback?page=1" class="dropdown-item">View Feedback</a></li>
                        </ul>
                    </li>
                    <li><a href="/Customer_Gallery?page=1">Gallery</a></li>
                    <li><a href="/AboutUs">About us</a></li>
                    <li><a href="/ContactUs">Contact</a></li>


                </ul>
            </nav>
            <div class="dropdown text-end">
                <!-- ACCOUNT IMAGE-->
                @if (Model.userconfirm == null)
                {
                    <a class="signin" href="/Account">Sign in</a>
                }
                else
                {
                    <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@Model.imgconfirm" alt="mdo" width="32" height="32" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small">
                        <li><a class="dropdown-item active" href="/Customer_OrderStatus">My Simple Order</a></li>
                        <li><a class="dropdown-item" href="/Customer_OrderStatus3D">My 3D Order</a></li>
                        <li><a class="dropdown-item" href="/Customer_CompleteOrders">Completed Orders</a></li>
                        <li><a class="dropdown-item" href="/Customer_AccountSettings?user=@Model.userconfirm">Account Settings</a></li>
                        <li><a class="dropdown-item" href="/Customer_AccountInformation?user=@Model.userconfirm">Account Information</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-page="/index" asp-page-handler="LogOut">Sign out</a></li>
                    </ul>
                }
                <!-- ACCOUNT IMAGE-->

            </div>
            @if (Model.userconfirm != null)
            {
                <a href="/Customer_Notif" class="badge" data-badge="@Model.totalnotifCount"><img src="~/img/navbar/notification.png" width="30px" height="30px"></a>
                <a href="/Cart" class="badge" data-badge="@Model.cartCount"><img src="images/cart.png" width="30px" height="30px"></a>

            }
            <img src="images/menu.png" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>


    <!-- Banner -->
    <section class="page-heading">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="text-content">

                        <h2>Order Progress</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Banner -->
    <!-- progres Bar-->
    <div class="container">

    <div class="main">

        <div class="head">
            <p class="head_1">Order #@Model.orderInfo.osID<span></span></p>
            <p class="head_2">Invoice #@Model.invoiceInfo.invoiceID<span></span></p>
            <p class="head_2">Expected Arrival: @Model.invoiceInfo.invoiceExpectedD @Model.invoiceInfo.invoiceExpectedT </p>
        </div>
        </div>
        <ul style="margin-bottom:70px">
            <!-- 1 Bar-->
            <li>
                <i class="fa-regular fa-eye icon"></i>
                @if (Model.orderInfo.status != null || Model.invoiceInfo.orderStatus == "50% Downpayment" || Model.invoiceInfo.orderStatus == "Baking" || Model.invoiceInfo.orderStatus == "Order Confirmation" || Model.invoiceInfo.orderStatus == "Full Payment" || Model.invoiceInfo.orderStatus == "Delivery/Pickup" || Model.invoiceInfo.orderStatus == "Order Arrived")
                {
                    <div class="progres one active">
                        <p>1</p>
                        <i class="uil uil-check"></i>
                    </div>
                }
                else
                {
                    <div class="progres one">
                        <p>1</p>
                        <i class="uil uil-check"></i>
                    </div>
                }
                <p class="text">Design Your Cake</p>
            </li>
            <!-- 2 Bar-->
            <li>
                <i class="fa-solid fa-magnifying-glass icon"></i>
                @if (Model.orderInfo.status == "true" || Model.invoiceInfo.status == "true")
                {
                <div class="progres two active">
                <p>2</p>
                <i class="uil uil-check"></i>
                    </div>
                }
                else
                {
                <div class="progres two">
                <p>2</p>
                <i class="uil uil-check"></i>
                </div>  
                }
                
                <p class="text">Review & Quotation</p>
            </li>
            <!-- 3 Bar-->
            <li>
                <i class="fa-solid fa-hand-holding-dollar icon"></i>
                @if (Model.invoiceInfo.orderStatus == "50% Downpayment" || Model.invoiceInfo.orderStatus == "Baking" || Model.invoiceInfo.orderStatus == "Order Confirmation" || Model.invoiceInfo.orderStatus == "Full Payment" || Model.invoiceInfo.orderStatus == "Delivery/Pickup" || Model.invoiceInfo.orderStatus == "Order Arrived")
                {
                <div class="progres three active">
                <p>3</p>
                <i class="uil uil-check"></i>
                    </div>
                }
                else
                {
                <div class="progres three">
                <p>3</p>
                <i class="uil uil-check"></i>
                </div>
                }
               
                <p class="text">50% Downpayment</p>
            </li>
            <!-- 4 Bar-->
            <li>
                <i class="fa-solid fa-cake-candles icon"></i>
                @if (Model.invoiceInfo.orderStatus == "Baking" || Model.invoiceInfo.orderStatus == "Order Confirmation" || Model.invoiceInfo.orderStatus == "Full Payment" || Model.invoiceInfo.orderStatus == "Delivery/Pickup" || Model.invoiceInfo.orderStatus == "Order Arrived"){
                <div class="progres four active">
                <p>4</p>
                <i class="uil uil-check"></i>
                </div>
                }
                else{
                <div class="progres four">
                <p>4</p>
                <i class="uil uil-check"></i>
                </div>
                }
                <p class="text">Baking</p>
            </li>
            <!-- 5 Bar-->
            <li>
                <i class="fa-solid fa-clipboard-check icon"></i>
                @if (Model.invoiceInfo.orderStatus == "Order Confirmation" || Model.invoiceInfo.orderStatus == "Full Payment" || Model.invoiceInfo.orderStatus == "Delivery/Pickup" || Model.invoiceInfo.orderStatus == "Order Arrived"){
                <div class="progres five active">
                <p>5</p>
                <i class="uil uil-check"></i>
                </div>
                }
                else{
                <div class="progres five">
                <p>5</p>
                <i class="uil uil-check"></i>
                </div>
                }
                <p class="text">Order Confirmation</p>
            </li>
            <!-- 6 Bar-->
            <li>
                <i class="fa-solid fa-money-bill icon"></i>
                @if (Model.invoiceInfo.orderStatus == "Full Payment" || Model.invoiceInfo.orderStatus == "Delivery/Pickup" || Model.invoiceInfo.orderStatus == "Order Arrived"){
                <div class="progres six active">
                    <p>6</p>
                    <i class="uil uil-check"></i>
                </div>
                }
                else{
                <div class="progres six">
                <p>6</p>
                <i class="uil uil-check"></i>
                </div>
                }
                <p class="text">Full Payment</p>
            </li>
            <!-- 7 Bar-->
            <li>
                <i class="fa-solid fa-truck icon"></i>
                @if (Model.invoiceInfo.orderStatus == "Delivery/Pickup" || Model.invoiceInfo.orderStatus == "Order Arrived"){
                <div class="progres seven active">
                    <p>7</p>
                    <i class="uil uil-check"></i>
                </div>
                }
                else{
                <div class="progres seven">
                    <p>7</p>
                    <i class="uil uil-check"></i>
                </div>
                }
                <p class="text">Delivery/Pickup</p>
            </li>
            <!-- 8 Bar-->
            <li>
                <i class="fa-solid fa-location-dot icon"></i>
                @if (Model.invoiceInfo.orderStatus == "Order Arrived"){
                <div class="progres eight active">
                    <p>8</p>
                    <i class="uil uil-check"></i>
                </div>
                }
                else{
                <div class="progres eight">
                    <p>8</p>
                    <i class="uil uil-check"></i>
                </div>
                }
                <p class="text">Order Arrived</p>
            </li>
        </ul>

    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">
                <h2>Cake Details</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid container-box">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center">

                <input type="hidden" name="id" value="@Model.invoiceInfo.invoiceID" />
                <div class="p-5 p-lg-5">
                    <div class="form-group row">
                    </div>

                
                        <div class="form-group row">
                            <div class="col-md-12">
                                <label for="c_hadd" class="text-black"><b>Occasion:</b>  </label>
                                <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceOccasion @Model.orderInfo.osOccasion</label>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_hadd" class="text-black"><b>Shapes:</b>  </label>
                                    <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceShapes @Model.orderInfo.osShapes</label>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <label for="c_hadd" class="text-black"><b>Color:</b>  </label>
                                    <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceColor @Model.orderInfo.osColor</label>
                                </div>
                            </div>
                           
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Tier:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceTier @Model.orderInfo.osTier</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Flavors:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceFlavors @Model.orderInfo.osFlavors</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Sizes:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceSizes @Model.orderInfo.osSizes</label>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Dedication:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceDedication @Model.orderInfo.osDedication</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-12">
                                            <label for="c_hadd" class="text-black"><b>Delivery:</b>  </label>
                                            <label for="c_hadd" class="text-black">@Model.invoiceInfo.invoiceDelivery @Model.orderInfo.osDelivery</label>
                                        </div>
                                    </div>
                                    
            </div>
        </div>
    </div>
    </div>
       </div>

    <script src="~/js/OrderStatus/OrderStatus.js"></script>







    <!-- FOOTER -->
    <div id="footerBottom" style="background-color: #f7fff8;">
        <div class="container">
            <footer class="row row-cols-1 row-cols-sm-2 row-cols-md-4 py-5 my- border-bottom">
                <!-- Division 1 -->
                <div class="divisions col mb-3">
                    <div>
                        <img class="img-fluid" src="~/img/logo/logofooter.png" style="width: 18rem;">
                    </div>
                    <p class="text-bottom" style="font-family: Poppins ExtraBold;">
                        Serving you sweet treats made with love ❤️
                        We accept customized cakes, cupcakes, & more! Order now!
                    </p>
                </div>

                <!-- Division 2 -->
                <div class="divisions col mb-4">
                    <h5 class="heading-bottom" style="font-family: Poppins ExtraBold;">Contact Us</h5>
                    <ul class="nav flex-column">
                        <li class="nav-item mb-2" style="font-family: Poppins ExtraBold; display:flex; flex-direction:row; align-items: center;"><img class="phone" src="~/img/logo/phone.png">+63 09164656894</li>
                        <li class="nav-item mb-2" style="font-family: Poppins ExtraBold; display:flex; flex-direction:row; align-items: center;"><img class="mail" src="~/img/logo/mail.png"><a href="mailto:A_Bakes@gmail.com">A_Bakes@gmail.com</a></li>
                    </ul>
                </div>

                <!-- Division 3 -->
                <div class="divisions col mb-4">
                    <h5 class="heading-bottom" style="font-family: Poppins ExtraBold;">Follow Us</h5>
                    <ul class="socials-pics nav flex-row img-fluid">
                        <li class="nav-item2 mb-2"><a href="https://www.facebook.com/a.bakesandsweets" target="_blank"><img class="socials img-fluid" src="~/img/logo/facebook.png"></a></li>
                        <li class="nav-item5 mb-2"><a href="https://www.instagram.com/a_bakesandsweets/" target="_blank"><img class="socials img-fluid" src="~/img/logo/instagram.png"></a></li>
                    </ul>
                </div>

                <!-- Division 4 -->
                <div class="divisions col mb-4">
                    <h5 class="heading-bottom" style="font-family: Poppins ExtraBold;">Terms and Conditions</h5>
                    <button style="margin-bottom:-10px;" class="btn btn-primary btn-sm read-terms-btn" onclick="window.location.href='/Customer_TermsandCondition'">Read Terms</button>
                    <button style=" margin-bottom:-10px;width:185px;" class="btn btn-primary btn-sm read-terms-btn" onclick="window.location.href='/Customer_FAQS'">Help Me</button>
                    <button style="margin-bottom:-2px; width:185px;" class="btn btn-primary btn-sm read-terms-btn" onclick="window.location.href='/Customer_Privacy'">Privacy</button>
                </div>
            </footer>
        </div>
        <div></div>
    </div>




<!-- javascript -->

</body>

<script src="~/js/bootstrap.bundle.min.js"></script>


<script>
    var MenuItems = document.getElementById("MenuItems");
    MenuItems.style.maxHeight = "0px";
    function menutoggle() {
        if (MenuItems.style.maxHeight == "0px") {
            MenuItems.style.maxHeight = "300px"
        }
        else {
            MenuItems.style.maxHeight = "0px"
        }
    }
    src = "~/js/bootstrap.bundle.min.js"



</script>